.div-class {
    height: 10px;
    width: 10px;
    border: 1px solid red;
}

.div-trail {
    background-color: blueviolet;
}

.container, 
.secondary-container {
    display: flex;
}

.container {
    flex-direction: column;
}