.container {
    height: 80vmin;
    width: 80vmin;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
}

.containerTwo {
    display: flex;
    flex-grow: 1;
}

.lowestDivUnit {
    flex-grow: 1;
}
